@use './setup';
@use './typography';

// NAVBAR
  header {
    background-color: #2a2a2a;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7svh;
    width: 100%;
    padding: 0 15px;
  }
  
  .nav-center {
    font-family: 'Vollkorn SC', serif;
    font-size: 2.4rem;
    color: #fff;
    text-decoration: none;
  
    a {
      color: inherit;
    }
  }
  
  .nav-toggle-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40px;
    cursor: pointer;
    z-index: 1;
  
    span {
      height: 2px;
      background-color: #ff8e3c;
      margin: 4px 0;
      display: block;
      width: 100%;
    }
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  #nav-toggle:checked ~ .nav {
    transform: translateY(0);
  }
  
  .nav-menu {
    text-align: center;
    width: 100%;
    z-index: 1;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      li {
        padding: 20px 0;
  
        a {
          font-family: 'Cinzel', serif;
          text-decoration: none;
          color: #fff;
          font-size: 1.8rem;
        }
      }
    }
  
    .email {
        a {
          color: #fff;
          font-size: 14px;
          text-decoration: none;
        }
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }

// SECTION INTRO
      .intro {
        min-height: 25svh;
        padding: 40px 20px;
        text-align: center;
        background-color: #eff0f3;

        h2 {
          font-family: 'Cinzel', serif;
          font-size: 2.2rem;
          color: #0d0d0d;
          margin-bottom: 20px;
        }
      
        p {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.6rem;
          line-height: 1.6;
          margin-bottom: 15px;
        }
      
        .location {
          margin-top: 20px;
      
          a {
            color: inherit;
            text-decoration: none;
      
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .resume {
        a {
            font-size: 1.6rem;
            color: #0d0d0d;
            text-decoration: none;
            background-color: #ff8e3c;
            padding: 10px 20px;
            border-radius: 4px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        
            &:hover {
              text-decoration: none;
              box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
              transform: translateY(-2px);
            }
        
            &:active {
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              transform: translateY(0);
            }
          }
        }
      }
// TECH STACK
.tech-stack {
    min-height: 60svh;
    padding: 40px 20px;
    text-align: center;
    background-color: #fffffe;
  
    h2 {
      font-family: 'Cinzel', serif;
      font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 20px;
    }
  
    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.6rem;
      line-height: 1.6;
    }
  
    .skills-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-items: center;
      margin-top: 20px;
    }
  
    .skill {
        background-color: #eff0f3;
        box-shadow: 4px 3px 2px;
        width: 68%;
        border-radius: 10%;

      img {
        width: 80px;
        height: auto;
        padding: 10px;
        margin: 0 auto;
      }
  
      h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        margin-top: 5px;
      }
    }
  }
// PROJECTS
.portfolio {
    min-height: 100svh;
    padding: 40px 20px;
    text-align: center;
    background-color: #eff0f3;
  
    h2 {
      font-family: 'Cinzel', serif;
      margin-bottom: 20px;
      
    }
  
    .project-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .project {
      padding: 20px;
      background-color: #fffffe;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      max-width: 100%;
      border-radius: 5%;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      h3 {
        font-family: 'Cinzel', serif;
        font-size: 2.4rem;
        margin-bottom: 15px;
      }
  
      p {
        margin-bottom: 15px;
      }
      h3, p, a {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      &.project-bg {
        background-image: url('../.././assets/ezgif.com-gif-maker.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      &.project-bg-2 {
        background-image: url('../.././assets/movieVsBook.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      &.project-bg-3 {
        background-image: url('../.././assets/bikerland.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  
      &:hover {
        h3, p, a {
          opacity: 1;
        }
        &.project-bg, &.project-bg-2, &.project-bg-3 {
            background-image: none;
            background-color: rgba(207, 198, 198, 0.965);
          }
      }
    }
  
    .project-links {
      a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        color: #fffffe;
        background-color: #ff8e3c;
        padding: 10px 20px;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-right: 15px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  

// ABOUT ME
.about-me {
    min-height: 80svh;
    padding: 40px 20px;
    text-align: left;
  
    h2 {
      font-family: 'Cinzel', serif;
      font-size: 2.2rem;
      margin-bottom: 20px;
      text-align: center;
    }
  
    p {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        line-height: 21px;
    }
  
    img {
      max-width: 50%;
      margin: 10px auto;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    a {
        color: #ff8e3c;
        font-weight: bolder;
    }
  }
//   CONTACT
.contact-form {
    min-height: 30svh;
    padding: 40px 20px;
    text-align: center;
    background-color: #eff0f3;
    
    fieldset {
      border: none;
      max-width: 600px;
      margin: 0 auto;
    }
  
    legend {
      font-family: 'Cinzel', serif;
      font-size: 2.2rem;
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 5px;
    }
  
    input, textarea {
      width: 100%;
      padding: 10px;
      font-family: 'Montserrat', sans-serif;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 20px;
      resize: none;
    }
  
    button {
      font-family: 'Montserrat', sans-serif;
      background-color: #ff8e3c;
      color: #0d0d0d;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #444;
      }
    }
  }
// FOOTER
footer {
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  
    .footer-bottom {
      display: flex;
      align-items: center;
  
      p {
        margin: 0;
      }
    }
  
    .social-icons {
      display: flex;
      margin-left: 20px;
  
      a {
        margin-right: 10px;
        img {
          width: 24px;
          height: 24px;
          transition: opacity 0.3s ease;
  
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  
  
  
  
  
  
  